@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=content_copy");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=link")
input, input:-webkit-autofill {
  background-color: #e6fffa !important; /* oder ColorPalets.backgroundLight */
  color: #1a202c !important;            /* oder ColorPalets.textPrimary */
  -webkit-box-shadow: 0 0 0 1000px #e6fffa inset !important;
  box-shadow: 0 0 0 1000px #e6fffa inset !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  
  scrollbar-width: none;     
}